.consultant-arrows {
  pointer-events: none;

  &.arrows-mirrored {
    transform: scaleX(-1);
  }
}

/* Hide all paths initially */
.animated-arrows path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}

/* Arrow lines - animate first */
.animated-arrows path:not(:last-child) {
  animation: drawArrows 20s linear forwards;
}

/* Arrowhead - animate last */
.animated-arrows path:last-child {
  animation: drawArrows 1s linear forwards;
  animation-delay: 20s;
}

@keyframes drawArrows {
  to {
    stroke-dashoffset: 0;
  }
}
