.consultant-box {
  --boxBorderRadius: 12px;
  align-items: center;
  background: #E9E4F2;
  border-radius: var(--boxBorderRadius);
  display: flex;
  flex-direction: column;
  font-weight: 400;
  gap: 16px;
  max-width: 490px;
  overflow: hidden;
  padding: 24px;
  text-align: center;

  &.consultant-box--loading {
    position: relative;
    
    &::after {
      animation-name: loading;
      animation-duration: var(--loading-duration, 6s);
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
      background: #613EA3;
      bottom: 0;
      content: '';
      height: var(--boxBorderRadius);
      left: 0;
      position: absolute;
      width: 0%;
    }
    
    &:dir(rtl)::after {
      animation-name: loadingRTL;
      left: auto;
      right: 0;
    }
  }
}

.consultant-box__title {
  font-size: 1.5rem;
}

.consultant-box__description {
  font-size: 1rem;
  margin-block-end: 0.25rem;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes loadingRTL {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
