.marketing-consultant-animation {
  height: 500px;
  width: 100%;
}

/* Make header slide up */
.consultant-header {
  /* Position header manually to enable smooth transition */
  transform: translateY(250px);
  transition: transform 0.6s ease-out;

  /* When content expands, move header to top */
  .marketing-consultant-animation:has(.expand-content) & {
    transform: translateY(0);
  }
}

.content {
  flex: 0; /* Takes up minimum space initially */
  transition: flex 0.8s ease-out; /* Match to first box start delay */
  width: 100%;
  max-width: 840px;
  margin: 0 auto;

  &.expand-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1; /* Takes up remaining space when expanded */
  }

  &.four-c-box-keywords {
    .four-c-boxes {
      align-items: start;
      left: 0;
      transform: translateX(0);
      transition: all 1s ease-out;
    }
  }

  &.four-p-box-keywords {
    .four-p-boxes {
      align-items: end;
      right: 0;
      transform: translateX(0);
      transition: all 1s ease-out;
    }
  }

  &.center-box-visible {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
}

.keyword-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  position: relative;

  &.stage-complete {
    .consultant-box {
      width: 180px;
    }
  }
}

.four-c-boxes {
  left: 50%;
  transform: translateX(-50%);
}

.four-p-boxes {
  right: 50%;
  transform: translateX(50%);
}

/* Stage 3: Center box */
.stage-3-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.arrows-container {
  height: 290px;
  width: 118px;
}

.center-box.fade-in {
  animation: fadeIn 0.6s ease-out;

  .box-marketing-plan {
    width: fit-content !important;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Page header */
.consultant-header.fade-down {
  animation: fadeDown 0.5s ease-out;
}

@keyframes fadeDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
