.marketing-consultant-animation {
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: flex-start; */
  height: 550px;
  width: 100%;
  /* background: lightblue; */
}

/* Make header slide up */
.test-header {
  transform: translateY(250px); /* Position header manually to enable smooth transition */
  transition: transform 0.8s ease-out;

  /* When content expands, move header to top */
  .marketing-consultant-animation:has(.expand-content) & {
    transform: translateY(0);
  }
}

.content {
  /* background: lightyellow; */
  flex: 0; /* Takes up minimum space initially */
  transition: flex 0.8s ease-out;
  width: 100%;

  &.expand-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1; /* Takes up remaining space when expanded */
  }

  &.four-c-box-keywords {
    .four-c-boxes {
      align-items: start;
      left: 0;
      transform: translateX(0);
      transition: all 1s ease-out;
    }
  }
}

.four-c-boxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  width: fit-content;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: all 1s ease-out;
}
